<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
</head>
<body style="background-color: aliceblue;">
    <hr>
    <h1 style="text-align: center;">Welcome to MyApp!</h1>
    <hr>
    <hr>
    <p>This is the index page.</p><br>
    <form method="POST">
        {% csrf_token %}
        <input type="text "name="name" placeholder=" name"><br>
        <input type="email" name="email" placeholder=" email"><br>
        <input type="date"><br>
        <input type="number"name="number" placeholder="phone no."><br>
        <textarea placeholder="address"></textarea><br>
        <input type="submit">
    </form>
</body>
</html>